body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar-brand img {
    height: 40px;
}

.navbar-menu {
    display: flex;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007BFF;
}

.container {
    padding: 20px;
    border-radius: 10px;
    background-color: #3A3A3A;
    max-width: 600px;
    margin: auto;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4F4F4F;
    color: #FFFFFF;
}

.btn {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f44336; /* Cor para mensagens de erro */
    color: white;
}
